[data-theme="light"] /* giorno */ 
{
    --colore-sfondo-body: #fdffe9; /* Giallo chiaro */
    --colore-testo-body: #000000; /* Nero */
    --colore-sfondo-navbar: #004d40; /* Verde scuro */
    --colore-testo-navbar: #ffffff; /* Bianco */
    --colore-testo-navbar-hover: #20bb63; /* Azzurro chiaro */
    --colore-sfondo-btn-primary: #004d40; /* Verde scuro */
    --colore-bordo-btn-primary: #004d40; /* Verde scuro */
    --colore-testo-btn-primary: #ffffff; /* Azzurro chiaro */
    --colore-sfondo-btn-primary-hover: #00695c; /* Verde acqua */
    --colore-bordo-btn-primary-hover: #00695c; /* Verde acqua */
    --colore-sfondo-btn-secondary: #00695c; /* Verde acqua */
    --colore-bordo-btn-secondary: #00695c; /* Verde acqua */
    --colore-testo-btn-secondary: #ffffff; /* Bianco */
    --colore-bordo-btn-secondary-hover: #004d40; /* Aggiunta variabile per il bordo del pulsante secondario in hover */
    --colore-testo-btn-secondary-active: #e0e0e0; /* Aggiunta variabile per il testo del pulsante secondario attivo */
    --colore-sfondo-dropdown-menu: #fdffe9; /* Giallo chiaro */
    --colore-bordo-dropdown-menu: #00695c; /* Verde acqua */
    --colore-testo-dropdown-item: #004d40; /* Verde scuro */
    --colore-sfondo-dropdown-item-selected: #004d40; /* Verde scuro */
    --colore-testo-dropdown-item-selected: #ffffff; /* Bianco */
    --colore-sfondo-dropdown-item-hover: #00695c; /* Verde acqua */
    --colore-testo-dropdown-item-hover: #ffffff; /* Bianco */
    --colore-sfondo-dropdown-toggle: #004d40; /* Verde scuro */
    --colore-testo-dropdown-toggle: #ffffff; /* Giallo chiaro */
    --colore-bordo-dropdown-toggle: #004d40; /* Aggiunta variabile per il bordo del dropdown toggle */
    --colore-evidenziazine-testo: #ffff00;
    --colore-sfondo-footer: #004d40;
    --colore-testo-footer-hover: #20bb63;
    --colore-bordo-immagini-team: #004d40;
}

[data-theme="dark"] /* notte */ 
{
    --colore-sfondo-body: #343a40; /* Grigio scuro */
    --colore-testo-body: #ffffff; /* Quasi bianco */
    --colore-sfondo-navbar: #00332d; /* Verde molto scuro */
    --colore-testo-navbar: #e0e0e0; /* Bianco sporco */
    --colore-testo-navbar-hover: #009e64; /* Blu grigio scuro */
    --colore-sfondo-btn-primary: #00332d; /* Verde scuro */
    --colore-bordo-btn-primary: #00332d; /* Verde scuro */
    --colore-testo-btn-primary: #ffffff; /* Blu grigio scuro */
    --colore-sfondo-btn-primary-hover: #004d40; /* Verde acqua scuro */
    --colore-bordo-btn-primary-hover: #004d40; /* Verde acqua scuro */
    --colore-sfondo-btn-secondary: #004d40; /* Verde acqua scuro */
    --colore-bordo-btn-secondary: #004d40; /* Verde acqua scuro */
    --colore-testo-btn-secondary: #ffffff; /* Bianco sporco */
    --colore-bordo-btn-secondary-hover: #004d40; /* Aggiunta variabile per il bordo del pulsante secondario in hover */
    --colore-testo-btn-secondary-active: #e0e0e0; /* Aggiunta variabile per il testo del pulsante secondario attivo */
    --colore-sfondo-dropdown-menu: #343a40; /* Grigio scuro */
    --colore-bordo-dropdown-menu: #004d40; /* Verde acqua scuro */
    --colore-testo-dropdown-item: #ffffff; /* Verde scuro */
    --colore-sfondo-dropdown-item-selected: #004d40; /* Verde scuro */
    --colore-testo-dropdown-item-selected: #e0e0e0; /* Bianco sporco */
    --colore-sfondo-dropdown-item-hover: #004d40; /* Verde acqua scuro */
    --colore-testo-dropdown-item-hover: #e0e0e0; /* Bianco sporco */
    --colore-sfondo-dropdown-toggle: #00332d; /* Verde scuro */
    --colore-testo-dropdown-toggle: #ffffff; /* Grigio scuro */
    --colore-bordo-dropdown-toggle: #00332d; /* Aggiunta variabile per il bordo del dropdown toggle */
    --colore-evidenziazine-testo: #004d40;
    --colore-sfondo-footer: #00332d;
    --colore-testo-footer-hover: #009e64;
    --colore-bordo-immagini-team: #00332d;
}

/*=============================================================================================================*/
/*                                              Body e Navbar                                                  */
/*=============================================================================================================*/
body 
{
    background-color: var(--colore-sfondo-body);
    color: var(--colore-testo-body);
    transition: background-color 1s, color 1s;
}

.navbar 
{
    background-color: var(--colore-sfondo-navbar);
    transition: background-color 1s, padding 0.6s ease;
    box-shadow: 0px 0px 10px 0px #000000;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 3;    
}

.navbar-brand
{
    color: white;
    pointer-events: none;    
}

.nav-link 
{
    color: white;
    transition: transform 0.4s ease, color 0.4s ease;
}

.nav-link:hover 
{
    color: var(--colore-testo-navbar-hover);
    transition: color 1s, transform 0.4s ease;
    transform: scale(1.1);
}

.nav-link.active 
{
    color: var(--colore-testo-navbar-hover);
}
.navbar-toggler
{
    border: 1px solid white;
}

.navbar-toggler-icon 
{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-scroll 
{
    padding-top: 10px;
    padding-bottom: 10px;
    transition: padding 0.6s ease, background-color 1s;
}
.navbar-collapse
{
    transition: 1s all;
}
li.nav-item 
{
    padding-left: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.dropdown-container
{
    display: flex;
    justify-content: center;
    border: 2px solid var(--colore-bordo-btn-primary);
    transition: 1s all;
}

@media screen and (max-width: 1200px)
{
    li.nav-item 
    {
        margin-left: 5px;
        margin-right: 5px;
    }
    .navbar-scroll 
    {
        padding-top: 5px;
        padding-bottom: 5px;
        transition: padding 0.6s ease, background-color 1s;
    }
}

@media screen and (max-width: 992px)
{
    li.nav-item 
    {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-top: 3px;
        padding-bottom: 3px;        
    }
    .nav-link 
    {
        transition: color 0.4s ease;
    }
    
    .nav-link:hover 
    {
        color: var(--colore-testo-navbar-hover);
        transition: color 1s;
        transform: none;
    }

    .dropdown-container
    {
        padding-bottom: 10px;
    }
}

/*=============================================================================================================*/
/*                                             Pulsanti e Dropdown                                             */
/*=============================================================================================================*/
.btn-primary 
{
    background-color: var(--colore-sfondo-btn-primary);
    border-color: var(--colore-bordo-btn-primary);
    color: var(--colore-testo-btn-primary);
    transition: background-color 1s, border-color 1s, color 1s;
}

.btn-primary:hover 
{
    background-color: var(--colore-sfondo-btn-primary-hover);
    border-color: var(--colore-bordo-btn-primary-hover);
    transition: background-color 1s, border-color 1s;
}

.btn-secondary 
{
    background-color: var(--colore-sfondo-btn-secondary);
    border-color: var(--colore-bordo-btn-secondary);
    color: var(--colore-testo-btn-secondary);
    transition: background-color 1s, border-color 1s, color 1s;
}

.btn-secondary:hover 
{
    background-color: var(--colore-sfondo-btn-secondary);
    border-color: var(--colore-bordo-btn-secondary-hover);
    transition: background-color 1s, border-color 1s;
}

/* Modifica lo sfondo delle dropdown quando sono aperte */
.dropdown.show .btn-secondary.dropdown-toggle {
    background-color: var(--colore-sfondo-btn-secondary);
    border-color: var(--colore-bordo-dropdown-toggle);
    transition: background-color 1s, border-color 1s;
}

.btn-secondary.focus, .btn-secondary:focus {
    background-color: var(--colore-sfondo-btn-secondary);
    border-color: var(--colore-bordo-dropdown-toggle);
    transition: background-color 1s, border-color 1s;
}

/* Sfondo delle dropdown tema e lingua */
.btn-secondary:not(:disabled):not(.disabled).active, 
.btn-secondary:not(:disabled):not(.disabled):active, 
.show>.btn-secondary.dropdown-toggle {
    color: var(--colore-testo-btn-secondary-active);
    background-color: var(--colore-sfondo-btn-secondary);
    border-color: var(--colore-bordo-dropdown-toggle);
    transition: background-color 1s, border-color 1s, color 1s;
}
.btn.btn-primary.btn-block
{
    background-color: var(--colore-sfondo-btn-primary);
}
.dropdown-menu 
{
    background-color: var(--colore-sfondo-dropdown-menu);
    border-color: var(--colore-bordo-dropdown-menu); /* Cambia il colore del bordo */
    border-width: 2px; /* Opzionale: cambia lo spessore del bordo */
    border-style: solid; /* Opzionale: imposta lo stile del bordo */
    transition: background-color 1s;
}
.dropdown-item
{
    padding: 0px;
    text-align: center;
    color: var(--colore-testo-dropdown-item);
}
.dropdown-item.selected 
{
    background-color: var(--colore-sfondo-dropdown-item-selected); /* Cambia con il colore desiderato */
    color: var(--colore-testo-dropdown-item-selected); /* Colore del testo quando selezionato */
    transition: background-color 1s, color 1s;
}
.dropdown-item:hover
{
    background-color: var(--colore-sfondo-dropdown-item-hover);
    color: var(--colore-testo-dropdown-item-hover);
}
.dropdown-toggle 
{
    background-color: var(--colore-sfondo-dropdown-toggle);
    color: var(--colore-testo-dropdown-toggle);
    border: 1px solid var(--colore-bordo-dropdown-toggle);
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 1s, border-color 1s, color 1s;
}
.dropdown-menu.tema
{
    width: 100px;
    min-width: 0px !important;
}
.dropdown-menu.lingua
{
    width: 125px;
    min-width: 0px !important;
}
.dropdown-menu.tema .dropdown-item
{
    padding-top: 2px;
    padding-bottom: 2px;
}
.dropdown-menu.lingua .dropdown-item
{
    padding-top: 2px;
    padding-bottom: 2px;
}


/*=============================================================================================================*/
/*                                                  Icone                                                      */
/*=============================================================================================================*/


.fa-sun {
    color: orange;
}
.fa-sun::before {
    content: '\f185'; /* Unicode for sun icon */
    background: radial-gradient(circle at center, yellow, orange);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fa-moon {
    color: #f0e68c; /* light yellow */
}


/*=============================================================================================================*/
/*                                              Sezioni Varie                                                  */
/*=============================================================================================================*/

/*Sezione Contatti*/
.row 
{
    justify-content: center;
}
/*Sezione Team*/
.team-member img 
{
    width: 80%;
    height: 80%;
    object-fit: cover; /* Per mantenere l'aspetto corretto dell'immagine */
    border-radius: 50%;
    border: 8px solid var(--colore-bordo-immagini-team);
    transition: border-color 0.3s ease;
}

/*=============================================================================================================*/
/*                                              Schermata Preloader                                            */
/*=============================================================================================================*/
.loader 
{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: conic-gradient(from 0deg, transparent 25%, #bebe00);
    position: relative;
    animation: spin 2s linear infinite;
    z-index: 10;
}

.loader::before 
{
    content: '';
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    border-radius: 50%;
    background: #00332d;
}

@keyframes spin 
{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Center the loader */
.loader-container 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed; /* Cambia position a fixed per coprire tutta la viewport */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; /* Assicurati che il loader sia sopra tutto */
    background-color: #00332d;
}
.loader-dot 
{
  content: '';
  position: absolute;
  top: 5%;
  left: 50%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #bebe00;
  transform: translate(-50%, -50%);
}
/* Overlay di traduzione */
.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
    z-index: 1;
}

.loading-overlay:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*=============================================================================================================*/
/*                                                  Footer                                                     */
/*=============================================================================================================*/

footer {
    background-color: var(--colore-sfondo-footer);
    color: white;
}

footer a {
    color: #dde0e5;
    text-decoration: none;
}

footer a:hover {
    color: var(--colore-testo-footer-hover);
    text-decoration: none;
}

footer .row > .col-md-6 {
    margin-bottom: 15px;
}

footer h5 {
    margin-bottom: 15px;
}